.container{
	max-width: 840px;
	margin: 0 auto;
}
.intro{
	text-align: center;
}
.about-grid{
	display: grid;
	grid-template-columns: 50% 50%;
}
.i-am, .i-like{
	text-align: center;
	text-decoration: none;
}
.about-lists{
	list-style: none;
	padding: 0;
}

@media (max-width: 480px){
	.about-grid{
		grid-template-columns: 100%;
	}
}
.projects-heading{
	text-align: center;

}

.project-image{
	justify-self: center;
	padding: 4%;
}
.my-projects{
	display: grid;
	grid-template-rows: 50% 50%;
	grid-template-columns: 50% 50%;
}
@media (max-width: 480px){
	.projects-heading{
		text-align: left;
	}


	.my-projects{
		grid-template-rows: 25% 25% 25% 25%;
		grid-template-columns: 100%;
	}
}
.links-and-contact{
	display: grid;
	grid-template-columns: 30% 70%;
}
.links{
	justify-self:center;
}
.links-list{
	list-style: none;
	padding: 0%;
}
.contact{
	
	padding-top: 7%;
}
.email{
	padding-bottom: 3%;

}
.message{
	padding-left: 100%
	padding-top: 2%
}
@media (max-width: 480px){
	.links-and-contact{
		grid-template-columns: 100%;

	}
	.contact{
		grid-template-columns: 50%
	}
	.email{
		padding-bottom: 5%;
	}
	.message{
		padding-top: 5%;
	}
}
.profile-picture{
	border-radius: 50%;
	width: 150px;
	height: 150px;
	box-shadow: 0 4px 6px 0 rgba( 34, 60, 80, .16);
	transition: all ease-in-out .2s;
	
}
.profile-picture:hover{
	box-shadow: 0 8px 12px 0 rgba( 34, 60, 80, .16);
}
.project-image{
	border-radius: 5px;
	box-shadow:  0 4px 6px 0 rgba( 34, 60, 80, .16);
	transition: all ease-in-out .2s;
}
.project-image:hover{
	filter: brightness(.75);
	box-shadow: 0 8px 12px 0 rgba( 34, 60, 80, .16);
}
.project-image-wrapper{
	justify-self: center;
	padding: 4;
	position: relative;
}
.project-image-wrapper:hover > h4 {
	 visibility: visible;
}
.project-image-wrapper > h4 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	visibility: hidden;
	z-index: 2;
	transition: all ease-in-out .2s;
	
}